
body{
    font-family: 'Raleway', sans-serif; 
    margin: 0;
    padding: 0;
  }
  
header{
  background: #fff;
  border-top: 3px solid #7851A9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}
.nav_links{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.nav_item a{
  color: black;
  text-decoration: none;
}
.nav_item a:hover, a:focus{
  color: #7851A9;
  text-decoration: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

h1{
color: #7851A9;
text-align: center;
font-size: 2em;
}

main {
    display: block;
    text-align: center;
}