html, body, main{
  margin: 0;
  height: 100%;
  font-family: Georgia, serif;
}

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  width: 100%;
  margin: 0;
}
header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  height: 75px;
  width: 100%;
}
nav{
  height: 35px;
  background-color: rgb(132, 0, 255);
  
}
li.nav_item{
  list-style-type: none;
}
nav ul li a{
  display: flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
  color: white;
}
.nav_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  font-size: 1.6em;
  font-family: 'Lato', sans-serif;
}

.nav_item a:hover,.nav_item a:focus{
  color: #e0cef7e8;
  text-decoration: underline;
  
}

.nav_item a.active_page{
  color: #e7d5ffe8;
  text-decoration-color: #e0cef7e8;
  opacity: 10;
  font-weight: bold;
  text-decoration: underline;
  
}

a.skip{
  position: absolute;
  top: -40px;
}
h1{
color: #7851A9;
text-align: center;
font-size: 1.4rem;
font-weight: 500;
align-self: center;
}
p{
  text-align: center;
}
img{
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}
#logo{
  object-fit: fill;
  height: 100%;
}
.flip-card{
  background-color: transparent;
  height: 100%;
  width: 150px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}
div.flip-card-front, div.flip-card-back, div.flip-card-back>img {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
  
}
.flip-card-back {
 
  transform: rotateY(180deg);
}
div.container2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%
}


.bios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.card p{
  padding: 0 15px;
}
div.card{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 30px
  
  


}
div.photos{
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  max-width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 100%;
  max-width: 100%;
}
.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
footer{
  height: 40px;
  background-color: rgb(132, 0, 255);
  text-decoration-color: white;
}
footer>p{
  color:white;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  header{
    height: 150px;
  }
  header div {
    height: 105px;
  }
  nav{
    height: 45px;
  }
  .card{
    flex: 0 50%;
  }
  div.parent-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  div.photos{
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    column-gap:           0px; 
  }
  div.photos>img {
    
    width: 100% !important;
    height: auto !important;
  }
  .flip-card{
    width: 200px
  }
  
}
@media only screen and (min-width: 768px) {
  div.container2{
    flex-direction: row;
  }
  div.photos{
    -moz-column-count:    5;
    -webkit-column-count: 5;
    column-count:         5;
    column-gap: 0px;
  }
  .flip-card{
    width: 250px
  }
  .flip-card-inner {
    
    transition: transform 1.5s;
    
  }
  h1{
    font-size: 2em;
  }
  div.container2{
    align-items: flex-start;
  }
  .card {
    
    flex: 0 25%;
}
div#index-title{
  flex: 0 100%;
}

}
@media (prefers-reduced-motion: reduce){
  .flip-card{
    transform: none;
  }
